/*
hover: hsl(50, 26%, 59%)
inputs: hsl(50, 18%, 53%)
sub-sections: hsl(50, 26%, 50%) */

@font-face {
    font-family: carter;
    src: url(assets/CarterOne-Regular.ttf);
  }

.main-sech{
    position: fixed;
    top: 100px;
    left: 15%;
    height: 100%;
    width: 70%;
    background-color: rgb(78, 90, 90);
    box-shadow: 2px 5px 4px rgba(38, 42, 40, 0.5);
    border-radius: 10px;
}
.main-sech h1{
    text-align: center;
    color: #cefff3;
    position: relative;
    top: 10px;
    font-family: carter;
}
.main-sech sub{
    color: gray;
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 51%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.main-sech sub:hover{
    color: rgb(160, 160, 160);
}
#malik{
    position: relative;
    top: 175px;
    height: 200px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(42, 42, 42);
    transition: 1s ease;
    cursor: pointer;
}
#malik:hover{
    animation: rotatee 1s ease; 
    transition: 1s ease;
    height: 230px;
    top: 155px;
    
}
@keyframes rotatee {
    /* from {transform: rotateZ(0deg);} */
    10% {border-radius: 50%;}
    100% {border-radius: 10%;}
    /* to {transform: rotateZ(360deg);} */
}

.generator{
    width: 30%;
    margin: 15px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsla(184, 18%, 53%, 0.25);
    border: 4px solid rgba(255, 255, 255, 0.2);
    top: 0px;
    transition: 0.3s;

}
.generator:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  border-radius: 10px;
  border: 4px solid rgba(255, 255, 255, 0.4);
  top: -10px;
  transition: 0.3s;
  background-color: hsla(184, 18%, 45%, 0.25);

}
.generator:hover img{
  border: 4px solid rgba(255, 255, 255, 0.4);
  transition: 0.3s;
  border-radius: 5px;

}
.generator img{
    transition: 0.3s;
    border: 4px solid rgba(255, 255, 255, 0.2);
    width:100%
}
.gen-container{
    padding: 5px 16px;
}
.gen-container h4{
    color: white;
    font-family: monospace;
    font-size: 1.2em;
}