/*
hover: hsl(50, 26%, 59%)
inputs: hsl(50, 18%, 53%)
sub-sections: hsl(50, 26%, 50%)

*/

@font-face {
    font-family: carter;
    src: url(assets/CarterOne-Regular.ttf);
  }

.main-sech{
    position: fixed;
    top: 100px;
    left: 15%;
    height: 100%;
    width: 70%;
    background-color: var(--main-s);
    box-shadow: 2px 5px 4px rgba(38, 42, 40, 0.5);
    border-radius: 10px;
}
.main-sech h1{
    text-align: center;
    color: #cefff3;
    position: relative;
    font-family: carter;
    top: 10px;
    text-shadow: 2px 2px 2px #5d857b;
    animation: start 1s ease;    
}
@keyframes start {
    from {top: -40px; opacity: 0;}
    to {top: 10px; opacity: 1;}
}
.main-sech sub{
    color: gray;
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 51%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.main-sech sub:hover{
    color: rgb(160, 160, 160);
}
.generator{
    width: 130px;
    margin: 15px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsla(184, 18%, 53%, 0.25);
    border: 4px solid rgba(255, 255, 255, 0.2);
    top: 0px;
    transition: 0.3s cubic-bezier(0.7,-0.46, 0.36, 1);
}
.generator:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  border-radius: 10px 30px;
  border: 4px solid rgba(255, 255, 255, 0.4);
  top: -10px;
  transition: 0.3s cubic-bezier(0.7,-0.46, 0.36, 1);
  background-color: hsla(184, 18%, 45%, 0.25);

}
.generator:hover img{
  border: 4px solid rgba(255, 255, 255, 0.4);
  transition: 0.3s cubic-bezier(0.7,-0.46, 0.36, 1);
  border-radius: 6.99px 25px;

}
.generator img{
    user-select: none;
    transition: 0.3s cubic-bezier(0.7,-0.46, 0.36, 1);
    border: 4px solid rgba(255, 255, 255, 0.2);
    width:100%;
    box-shadow: inset -5px 4px 2px 0px rgba(0, 0, 0, 0.13);
}
.gen-container{
    padding: 5px 16px;
    user-select: none;
    
}
.gen-container h4{
    color: white;
    font-family: monospace;
    font-size: 1.2em;
}
