/* @font-face { font-family: minecraft; src: url('../../../assets/Minecraft.ttf'); }  */
.main-sec{
    position: fixed;
    top: 100px;
    left: 15%;
    height: 100%;
    background-color: var(--main-s);
    width: 70%;
    box-shadow: 2px 5px 4px rgba(38, 42, 40, 0.5);
    border-radius: 10px;
    /* display: grid;
    align-content: center; */
}
.main-sec h5{
    text-align: center;
    color: var(--text-col);
}
input[type="range"]{
    position: relative;
    top: 2px;
    left: 10px;
    cursor: pointer;
}

input[type="number"]{
    position: relative;
    left: 15px;
    width: 21%;
    padding: 2px;
    border-radius: 5px;
    border-width: 0px;
    border: 1px solid black;
    background-color: var(--main-inps);
    color: var(--text-col);
    font-weight: 600;
    transition: 0.3s ease;
}
input[type="number"]:hover{
    background-color: var(--num-inps-hov);
    transition: 0.3s ease;
}

input[type="checkbox"]{
    position: relative;
    top: 2.5px;
    left: 5px;
    border: 4px solid black;
    cursor: pointer;
    width: 15px;
    height: 15px;
    outline: none;
}
button{
    padding: 7px;
    color: var(--text-col);
    font-weight: 600;
    background-color: var(--main-inps);
    border: 2px solid rgb(90, 90, 90);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color: var(--main-inps-hov);
    color: rgb(228, 228, 228);
    transition: 0.3s ease;
}
input[type="text"]{
    position: relative;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--main-inps);
    color: var(--text-col);
    width: 70%;
    margin-top: 5px;
    overflow: auto;
    padding: 10px;
}
.title{
    font-family: monospace;
    text-align: center;
    color: var(--text-col);
    position: relative;
    top: -40px;
    background-color: var(--title);;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
select{
    position: relative;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--main-inps);
    color: var(--text-col);
    width: 25%;
    top: 0px;
    font-size: 80%;
    padding: 5px;
}
.FBnbts p{
    margin: 5px;
    color: var(--text-col);
    font-weight: 600;
}
textarea{
    position: relative;
    left: 25px;
    min-width: 30%;
    width: 70%;
    min-height: 50px;
    max-height: 100px; 
    max-width: 92%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: hsl(184, 18%, 53%);
    color: var(--text-col);
    padding: 10px;
}
.FBnbts{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--sub-sub-sec);
    position: relative;
    left: 10%;
    text-align: left;
    top: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.toggle{
    padding: 5px;
    width: 60px;
    left: 20px;
    font-size: .7rem;
    font-weight: 700;
    background-color: var(--toggle);
    border: 1px solid rgb(25, 31, 25);
}
.toggle:hover{
    background-color: var(--toggle-hov);
}
.sub-sec{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background: var(--sub-sec);
    position: relative;
    width: 60%;
    border: 2px solid rgb(24, 29, 25);
    border-radius: 10px;
    left: 20%;
    padding: 20px;
}